
# Long properties can be split over multiple lines by ending each line with a backslash
flyway.locations=filesystem:db/migrations

# These are some example settings
flyway.url=jdbc:postgresql://localhost:5402/postgres
# User to use to connect to the database. Flyway will prompt you to enter it if not specified, and if the JDBC
# connection is not using a password-less method of authentication.
flyway.user=postgres

# Password to use to connect to the database. Flyway will prompt you to enter it if not specified, and if the JDBC
# connection is not using a password-less method of authentication.
flyway.password=password
